::root {
    --text-color:red;
    --bg-color:white;
    --outline-color:aliceblue;
    --border-color:#ebebf7;
    --box-shadow-color:rgba(16, 20, 70, 0.1);
    --b-radius:6px;
    --b-radius-sm:4px;
    --b-radius-lg:8px;
    --b-radius-xl:12px;
    --font-size:20px;
    --font-size-sm:16px;
    --font-size-lg:24px;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    padding: 0.8rem 2rem;
}

.form-control{
    padding: 10px 40px;
}
.btn{
    padding: 10px 30px;
}

/* Down is : for dashbod */
.home-projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:2rem;
    

}
.card-1{

    border-radius:7px;
    box-shadow: 0 0 14px 0 rgb(227, 231, 227);
    padding:1 2rem;
    margin: 1rem;
    width: 25%;
    background-color: #f3f3f3;
}
.card-header{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:rgb(115, 119, 119);
    padding: 10px;
    background-color: var(--bg-color);
    background-color: rgb(234, 230, 230);


}

.card-text{
    font-family: monospace;
    font-size: 17px;
    font-style: italic;
    color: black;    
}

.card-body a{
    padding-left: 50px;
    padding-right: 50px;
}